@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
}

.wrapper {
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

html {
  scroll-behavior: smooth;
}

.hero-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  grid-template-areas: "hero-menu-top hero-menu-top" "logo-part hero-menu-bottom";
}

.logo-part {
  grid-area: logo-part;
}

.hero-menu-top {
  grid-area: hero-menu-top;
}

.hero-menu-bottom {
  grid-area: hero-menu-bottom;
}

header {
  background-image: url(../images/hero-background-img.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  height: 100vh;
}

.hero-menu-top {
  background-color: rgba(245, 245, 250, 0.2);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.lang {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

.hero-phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: right;
  color: #fff;
}

.lang-active {
  background-color: #f0145a;
  padding: 5px 7px;
  border-radius: 8px;
}

.lang:hover {
  background-color: rgba(240, 20, 90, 0.3411764706);
  padding: 5px 7px;
  border-radius: 8px;
}

.near-logo {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.logo-part {
  display: flex;
  margin-left: 15px;
  gap: 4px;
}

.hero-menu-bottom {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.dropbtn {
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -130px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero-text {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.hero-down-button-c:hover path {
  stroke: #f0145a;
}

.hero-down-button-c:hover circle {
  stroke: #f0145a;
}

.hero-centring {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.hero-down-button {
  margin-right: auto;
  margin-left: auto;
}

.not-mobile,
.hero-navigation {
  display: none;
}

@media (min-width: 768px) {
  .near-logo,
  .devider,
  .dropdown {
    display: none;
  }
  .hero-navigation,
  .not-mobile,
  .hero-navigation {
    display: block;
  }
  .hero-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
  .logo-part {
    margin-left: 60px;
  }
  .hero-menu-top {
    background-color: transparent;
    padding: 50px 60px 0 60px;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }
  .hero-adress {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #b3b3ba;
  }
  .logo-part svg {
    width: 130px;
    height: 60px;
  }
  .hero-menu-bottom {
    padding: 0 0 0 60px;
    flex-direction: column;
    gap: 30px;
  }
  .hero-navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    display: flex;
    gap: 16px;
  }
  .hero-navigation a {
    color: #fff;
  }
  .hero-text {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .hero-menu {
    margin-top: 50px;
    margin-right: 60px;
    display: grid;
    row-gap: 16px;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: "logo-part hero-menu-top" "logo-part hero-menu-bottom";
  }
  .logo-part {
    grid-area: logo-part;
  }
  .hero-menu-top {
    grid-area: hero-menu-top;
  }
  .hero-menu-bottom {
    grid-area: hero-menu-bottom;
  }
  .hero-menu-top {
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
  }
  .hero-menu-bottom {
    padding: 0;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  header {
    background-position: 50% 0;
    background-size: contain;
  }
}
.wrapper {
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.adv-bc {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
  display: grid;
  gap: 30px;
}

.shadow-first {
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #CACADB;
  margin: 0 20px;
}

.shadow-second {
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #E7E7F2;
  margin: 0 40px;
}

.background {
  padding: 30px;
  padding-top: 0;
  display: grid;
  justify-content: center;
}

.services {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24a3ff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2px;
  margin-bottom: 10px;
}
.services img {
  width: 12px;
  height: 12px;
}

.services:hover {
  color: #F0145A;
}

.cards {
  display: grid;
  grid-template-columns: 315px;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.better-than {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
}

.card h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #24a3ff;
  margin-top: 30px;
  margin-bottom: 15px;
}
.card p {
  line-height: 26px;
  color: #fff;
}

.white-square {
  background-color: #fff;
  padding: 14px;
  width: 92px;
  height: 92px;
  border-radius: 24px;
}
.white-square img {
  width: 64px;
  height: 64px;
}

@media (min-width: 768px) {
  .wrapper {
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 768px;
  }
  .cards {
    grid-template-columns: repeat(2, calc(50% - 30px));
    gap: 60px;
  }
  .background {
    padding: 60px;
    padding-top: 0;
  }
  .adv-bc {
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 1024px;
  }
  .cards {
    grid-template-columns: repeat(3, calc(33.33% - 30px));
  }
}
@media (min-width: 1440px) {
  .wrapper {
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 1440px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 1920px;
  }
  .background {
    padding-left: 160px;
    padding-right: 160px;
  }
}
.sponsor:nth-child(1) {
  background-color: #1c4280;
}

.sponsor:nth-child(2) {
  background-color: #143646;
}

.sponsor:nth-child(3) {
  background-color: #f48b30;
}

.sponsor:nth-child(4) {
  background-color: #9e4dc3;
}

.sponsor:nth-child(5) {
  background-color: #fd9339;
}

.sponsor:nth-child(6) {
  background-color: #e2e2e4;
}

.sponsor:nth-child(7) {
  background-color: #c71c36;
}

.sponsor:nth-child(8) {
  background-color: #dcf3f9;
}

.sponsor:nth-child(9) {
  background-color: #eaeaea;
}

.sponsor:nth-child(10) {
  background-color: #282240;
}

.sponsor:nth-child(11) {
  background-color: #1d4568;
}

.sponsor:nth-child(12) {
  background-color: #000000;
}

.sponsor {
  height: 120px;
}

.centerd {
  justify-content: center;
  align-items: center;
}

.sponsor-links a:nth-child(-n+6) {
  display: flex;
}

.sponsor-links a:nth-child(n+7) {
  display: none;
}

@media (min-width: 768px) {
  .sponsor-links {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }
  .sponsor-links a:nth-child(n+7) {
    display: grid;
  }
}
@media (min-width: 1024px) {
  .sponsor-links {
    grid-template-columns: repeat(4, 25%);
  }
}
@media (min-width: 1920px) {
  .sponsor-links {
    border-radius: 25px;
    overflow: hidden;
  }
  .pad-f-links {
    padding-right: 100px;
    padding-left: 100px;
  }
  .wrapper-sponsors {
    min-width: 1720px;
    margin-right: auto;
    margin-left: auto;
  }
}
.wrapper {
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.slider-content {
  display: grid;
  grid-template-columns: 315px;
  justify-content: center;
}

.text-background {
  background-color: #f5f5fa;
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  border-radius: 0 0 12px 12px;
  word-wrap: break-word;
}
.text-background a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24a3ff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  display: inline-block;
}
.text-background svg {
  width: 12px;
  height: 12px;
}
.text-background a:hover svg path {
  stroke: #f0145a;
}
.text-background a:hover {
  color: #f0145a;
}
.text-background .slider-main-text {
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.text-background .slider-info {
  display: grid;
  gap: 6px;
  align-content: center;
}
.text-background .slider-info .slider-name {
  color: #b3b3ba;
  width: 255px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.text-background .slider-info .slider-ending {
  line-height: 22px;
  color: #b3b3ba;
}

.slider-circle {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.blue-circle {
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  border-radius: 50%; /* Заокруглені кути для створення круга */
}

.light-blue-circle {
  width: 16px;
  height: 16px;
  background-color: rgba(36, 164, 255, 0.6431372549);
  border-radius: 50%; /* Заокруглені кути для створення круга */
}

@media (min-width: 768px) {
  .slider-content {
    grid-template-columns: 648px;
  }
  .text-background {
    border-radius: 0 0 12px 12px;
  }
  .text-background .slider-main-text {
    font-size: 38px;
    line-height: 46px;
  }
  .text-background .slider-info .slider-name {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .slider-content {
    grid-template-columns: 400px 504px;
  }
  .text-background {
    border-radius: 0 12px 12px 0;
  }
}
@media (min-width: 1440px) {
  .slider-content {
    grid-template-columns: 400px 920px;
  }
}
@media (min-width: 1920px) {
  .slider-content {
    grid-template-columns: 400px 1200px;
  }
}
.wrapper {
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

body {
  display: grid;
  gap: 60px;
}

.publ-cards {
  display: grid;
  gap: 30px;
}

.pd {
  padding: 30px;
}

.publications-bc {
  background-color: #f5f5fa;
}

.more-publications {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  width: 136px;
  color: #24a3ff;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.more-publications:hover {
  color: #f0145a;
}

a:hover svg path {
  stroke: #f0145a;
}

.header-publications {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}

.publication-card-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #24a3ff;
}

.publication-card-date {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: #b3b3ba;
}

.hr {
  background-color: #e6e6f0;
  height: 4px;
}

.publication-card-text {
  line-height: 22px;
  font-size: 14px;
}

.publication-text {
  display: grid;
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
}

.publication-content {
  display: grid; /* Або інший відповідний display */
  flex-shrink: 0; /* Запобігання розтягуванню */
  margin-bottom: auto; /* Піднімає елементи нагору, залишаючи вільний простір внизу */
  gap: 15px;
}

.picture {
  height: 200px;
  width: 100%;
}

.rounded {
  border-radius: 9px 9px 0 0;
  object-fit: cover;
}

.publication {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .publ-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    grid-template-areas: "top-left top-right" "bottom bottom";
  }
  .bottom {
    grid-area: bottom;
  }
}
@media (min-width: 1024px) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "top-left top-right bottom";
  }
}
@media (min-width: 1440px) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1920px) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.wrapper {
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.footer-hr {
  height: 2px;
  background-color: #e6e6f0;
  margin: 0 30px;
}

.footer-bc {
  padding: 30px;
}

.footer-bc {
  display: grid;
  justify-content: center;
}

.footer-contacts,
.footer-adress {
  display: grid;
  justify-content: center;
}

.ph-adress,
.on-map,
.fb-logo-footer,
.footer-phone,
.e-mail-footer,
.fb-footer-link {
  justify-self: center;
}

.footer-adress,
.footer-contacts {
  display: grid;
  gap: 10px;
}

.footer-adress {
  margin-bottom: 21px;
}

.footer-contacts {
  margin-bottom: 30px;
}

.on-map {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: #24a3ff;
}

.footer-phone {
  font-weight: 700;
  color: #46466e;
}

.e-mail-footer {
  font-weight: 700;
  color: #24a3ff;
}

.license {
  color: #b3b3ba;
}

.footer-sircle {
  display: none;
}

@media (min-width: 768px) {
  .footer-hr {
    margin: 0 60px;
  }
  .footer-sircle {
    display: inline-block;
  }
  .footer-bc {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "footer-top-left footer-top-right" "footer-bottom footer-bottom";
  }
  .footer-bottom {
    grid-area: footer-bottom;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-top-left {
    grid-area: footer-top-left;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-top-right {
    grid-area: footer-top-right;
    justify-content: flex-end;
  }
  .footer-adress, .footer-contacts, .license {
    display: flex;
  }
}
.wrapper {
  min-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.scroll-element {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #b3b3ba;
}

.scroll-element-active {
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
}

.scroll-hr-vertical {
  display: none;
  background-color: rgba(255, 255, 255, 0.3019607843);
  width: 10px;
  height: 303px;
}

.scroll-hr-horizontal {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3019607843);
  margin: 30px 30px;
}

.scroll-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  padding-bottom: 30px;
}

.scroll-text {
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

.scroll-content {
  padding: 0 30px;
}

.scroll {
  overflow: hidden;
  width: 100vw;
}

.scroll-inner {
  display: flex;
  gap: 30px;
  overflow: auto;
}
.scroll-inner a {
  flex-shrink: 0;
}

.scroll-inner::-webkit-scrollbar {
  display: none;
}

.scroll-element-active {
  margin-left: 30px;
}

.scroll-element:hover {
  color: #f0145a;
}

@media (min-width: 768px) {
  .scroll-element-active {
    margin-left: 60px;
  }
  .scroll-hr-horizontal {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3019607843);
    margin: 60px 60px;
  }
  .scroll-content {
    padding: 0 60px;
  }
}
@media (min-width: 1024px) {
  .scroll-hr-horizontal {
    display: none;
  }
  .scroll-hr-vertical {
    display: block;
  }
  .scroll-inner {
    display: grid;
    margin-right: 60px;
  }
  .scroll-flex {
    display: flex;
    align-items: center;
  }
  .scroll-section {
    display: flex;
    align-items: center;
  }
  .extra-wrapper {
    display: flex;
    align-items: center;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }
  .scroll {
    width: 100%;
  }
  .scroll-element-active {
    margin-left: 0;
  }
  .scroll-element {
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .extra-wrapper {
    width: 1440px;
  }
  .scroll {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .extra-wrapper {
    width: 1920px;
  }
  .scroll {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
