@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
}

.wrapper {
  min-width: 375px; /* Ваші стилі для ширини */
  margin-right: auto;
  margin-left: auto;
}

.advantages {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.background {
  padding: 30px;
  display: grid;
  justify-content: center;
}

.services {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24a3ff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2px;
  margin-bottom: 10px;
  display: inline-block;
}
.services img {
  width: 12px;
  height: 12px;
}

.cards {
  display: grid;
  grid-template-columns: 315px;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.better-than {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
}

.card h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #24a3ff;
  margin-top: 30px;
  margin-bottom: 15px;
}
.card p {
  line-height: 26px;
  color: #fff;
}

.white-square {
  background-color: #fff;
  padding: 14px;
  width: 92px;
  height: 92px;
  border-radius: 24px;
}
.white-square img {
  width: 64px;
  height: 64px;
}

@media (min-width: 768px) {
  .wrapper {
    min-width: 375px; /* Ваші стилі для ширини */
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 768px;
  }
  .cards {
    grid-template-columns: repeat(2, calc(50% - 30px));
    gap: 60px;
  }
  .background {
    padding: 60px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    min-width: 375px; /* Ваші стилі для ширини */
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 1024px;
  }
  .cards {
    grid-template-columns: repeat(3, calc(33.33% - 30px));
  }
}
@media (min-width: 1440px) {
  .wrapper {
    min-width: 375px; /* Ваші стилі для ширини */
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 1440px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    min-width: 375px; /* Ваші стилі для ширини */
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper {
    width: 1920px;
  }
  .background {
    padding-left: 160px;
    padding-right: 160px;
  }
}
.sponsor:nth-child(1) {
  background-color: #1c4280;
}

.sponsor:nth-child(2) {
  background-color: #143646;
}

.sponsor:nth-child(3) {
  background-color: #f48b30;
}

.sponsor:nth-child(4) {
  background-color: #9e4dc3;
}

.sponsor:nth-child(5) {
  background-color: #fd9339;
}

.sponsor:nth-child(6) {
  background-color: #e2e2e4;
}

.sponsor:nth-child(7) {
  background-color: #c71c36;
}

.sponsor:nth-child(8) {
  background-color: #dcf3f9;
}

.sponsor:nth-child(9) {
  background-color: #eaeaea;
}

.sponsor:nth-child(10) {
  background-color: #282240;
}

.sponsor:nth-child(11) {
  background-color: #1d4568;
}

.sponsor:nth-child(12) {
  background-color: #000000;
}

.sponsor {
  height: 120px;
}

.centerd {
  justify-content: center;
  align-items: center;
}

.sponsor-links a:nth-child(-n+6) {
  display: flex;
}

.sponsor-links a:nth-child(n+7) {
  display: none;
}

@media (min-width: 768px) {
  .sponsor-links {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }
  .sponsor-links a:nth-child(n+7) {
    display: grid;
  }
}
@media (min-width: 1024px) {
  .sponsor-links {
    grid-template-columns: repeat(4, 25%);
  }
}
@media (min-width: 1920px) {
  .sponsor-links {
    border-radius: 25px;
    overflow: hidden;
  }
  .pad-f-links {
    padding-right: 100px;
    padding-left: 100px;
  }
}
.wrapper {
  min-width: 375px; /* Ваші стилі для ширини */
  margin-right: auto;
  margin-left: auto;
}

.slider-content {
  display: grid;
  grid-template-columns: 315px;
  justify-content: center;
}

.text-background {
  background-color: #f5f5fa;
  padding: 30px;
  display: grid;
  gap: 30px;
}
.text-background a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24a3ff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.text-background svg {
  width: 12px;
  height: 12px;
}
.text-background a:hover svg path {
  stroke: #f0145a;
}
.text-background a:hover {
  color: #f0145a;
}
.text-background .slider-main-text {
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  word-wrap: break-word;
}
.text-background .slider-info {
  display: grid;
  gap: 6px;
}
.text-background .slider-info .slider-name {
  color: #b3b3ba;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.text-background .slider-info .slider-ending {
  line-height: 22px;
  color: #b3b3ba;
}

.slider-circle {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.blue-circle {
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  border-radius: 50%; /* Заокруглені кути для створення круга */
}

.light-blue-circle {
  width: 16px;
  height: 16px;
  background-color: rgba(36, 164, 255, 0.6431372549);
  border-radius: 50%; /* Заокруглені кути для створення круга */
}

/*# sourceMappingURL=style.css.map */
