.background {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  padding: 30px;
}

.services {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24a3ff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2px;

  img {
    width: 12px;
    height: 12px;
  }
}

.better-than {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
}

.card {
  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #24a3ff;
  }
  p {
    line-height: 26px;
    color: #fff;
  }
}

.white-square {
  background-color: #fff;
  padding: 14px;
  width: 92px;
  border-radius: 24px;

  img {
    width: 64px;
    height: 64px;
  }
}
