@use 'sass:map';
@use './helper';

@include helper.wrapper;
$breakpoints: (
  tablet: 768px,
  tablethd: 1024px,
  desktopsd: 1440px,
  desktophd: 1920px,
);

.background {
  padding: 30px;
}

.background-color {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.services {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24a3ff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2px;
  margin-bottom: 10px;
  display: inline-block;

  img {
    width: 12px;
    height: 12px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 315px;
  gap: 30px;
}
.card:first-child {
  margin-top: 30px;
}

.better-than {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
}

.card {
  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #24a3ff;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  p {
    line-height: 26px;
    color: #fff;
  }
}

.white-square {
  background-color: #fff;
  padding: 14px;
  width: 92px;
  height: 92px;
  border-radius: 24px;

  img {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: map.get($breakpoints, 'tablet')) {
  @include helper.wrapper;
  .wrapper {
    width: 768px;
  }
  .cards {
    grid-template-columns: repeat(2, calc(50% - 30px));
    gap: 60px;
  }
  .card:nth-child(2) {
    margin-top: 30px;
  }
  .background {
    padding: 60px;
  }
}

@media (min-width: map.get($breakpoints, 'tablethd')) {
  @include helper.wrapper;
  .wrapper {
    width: 1024px;
  }
  .cards {
    grid-template-columns: repeat(3, calc(33.33% - 30px));
    gap: 60px;
  }
  .card:nth-child(3) {
    margin-top: 30px;
  }
}

@media (min-width: map.get($breakpoints, 'desktopsd')) {
  @include helper.wrapper;
  .wrapper {
    width: 1440px;
  }
}

@media (min-width: map.get($breakpoints, 'desktophd')) {
  @include helper.wrapper;
  .wrapper {
    width: 1920px;
  }
  .background {
    padding-left: 160px;
    padding-right: 160px;
  }
}
