@use 'sass:map';
@use './helper';

@include helper.wrapper;
$breakpoints: (
  tablet: 768px,
  tablethd: 1024px,
  desktopsd: 1440px,
  desktophd: 1920px,
);

.footer-hr {
  height: 2px;
  background-color: #e6e6f0;
  margin: 0 30px;
}

.footer-bc {
  padding: 30px;
}

.footer-bc {
  display: grid;
  justify-content: center;
}

.footer-contacts,
.footer-adress {
  display: grid;
  justify-content: center;
}
.ph-adress,
.on-map,
.fb-logo-footer,
.footer-phone,
.e-mail-footer,
.fb-footer-link {
  justify-self: center;
}

.footer-adress,
.footer-contacts {
  display: grid;
  gap: 10px;
}
.footer-adress {
  margin-bottom: 21px;
}

.footer-contacts {
  margin-bottom: 30px;
}
.on-map {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: #24a3ff;
}

.footer-phone {
  font-weight: 700;
  color: #46466e;
}

.e-mail-footer {
  font-weight: 700;
  color: #24a3ff;
}

.license {
  color: #b3b3ba;
}

.footer-sircle {
  display: none;
}

@media (min-width: map.get($breakpoints, 'tablet')) {
  .footer-hr {
    margin: 0 60px;
  }
  .footer-sircle {
    display: inline-block;
  }
  .footer-bc {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'footer-top-left footer-top-right'
      'footer-bottom footer-bottom';
  }
  .footer-bottom {
    grid-area: footer-bottom;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-top-left {
    grid-area: footer-top-left;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-top-right {
    grid-area: footer-top-right;
    justify-content: flex-end;
  }

  .footer-adress, .footer-contacts, .license{
    display: flex;
  }
}
