* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

@mixin wrapper {
  .wrapper {
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
}
button {
  background-color: transparent;
  border: 0;
}
