@use 'sass:map';
@use './helper';

@include helper.wrapper;
$breakpoints: (
  tablet: 768px,
  tablethd: 1024px,
  desktopsd: 1440px,
  desktophd: 1920px,
);

.publications {
  padding: 30px;
  display: grid;
  gap: 30px;
  background-color: #f5f5fa;
}

.more-publications {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  width: 136px;
  color: #24a3ff;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}
.more-publications:hover {
  color: #f0145a;
}
a:hover svg path {
  stroke: #f0145a;
}

.header-publications {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
}

.publication-card-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #24a3ff;
}

.publication-card-date {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: #b3b3ba;
}

.hr {
  background-color: #e6e6f0;
  height: 4px;
}

.publication-card-text {
  line-height: 22px;
  font-size: 14px;
}

.publication-text {
  display: grid;
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 8px 8px;
}

.ct{
  display: grid;
  justify-content: center;
}

@media (min-width: map.get($breakpoints, 'tablet')) {
  .publ-cards {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    grid-template-areas:
      'top-left top-right'
      'bottom bottom';
  }

  

  .top-left .publication-text {
    grid-template-rows: repeat(3, 20px);
  }
}

@media (min-width: map.get($breakpoints, 'tablethd')) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 281px);
  }
  .top-left .publication-text,
  .top-right .publication-text,
  .bottom .publication-text {
    width: 281px;
    height: 356px;
  }
}

@media (min-width: map.get($breakpoints, 'desktopsd')){
    .publications .publ-cards {
        grid-template-columns: repeat(3, 420px);
      }
    .top-left .publication-text,
  .top-right .publication-text,
  .bottom .publication-text {
    width: 420px;
    height: 250px;
  }
}
@media (min-width: map.get($breakpoints, 'desktophd')){
    .publications .publ-cards {
        grid-template-columns: repeat(3, 513px);
      }
    .top-left .publication-text,
  .top-right .publication-text,
  .bottom .publication-text {
    width: 513px;
    height: 230px;
  }
}