@use 'sass:map';
@use './helper';

@include helper.wrapper;
$breakpoints: (
  tablet: 768px,
  tablethd: 1024px,
  desktopsd: 1440px,
  desktophd: 1920px,
);

section{
  margin-bottom: 60px;
}

.publ-cards {
  display: grid;
  gap: 30px;
}

.pd {
  padding: 50px;
}

.publications-bc {
  background-color: #f5f5fa;
}

.more-publications {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  width: 136px;
  color: #24a3ff;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}
.more-publications:hover {
  color: #f0145a;
}
a:hover svg path {
  stroke: #f0145a;
}

.header-publications {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}

.publication-card-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #24a3ff;
}

.publication-card-date {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: #b3b3ba;
}

.hr {
  background-color: #e6e6f0;
  height: 4px;
}

.publication-card-text {
  line-height: 22px;
  font-size: 14px;
}

.publication-text {
  display: grid;
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
}

.publication-content {
  display: grid; /* Або інший відповідний display */
  flex-shrink: 0; /* Запобігання розтягуванню */
  margin-bottom: auto; /* Піднімає елементи нагору, залишаючи вільний простір внизу */
  gap: 15px;
}

.picture {
  height: 200px;
  width: 100%;
}

.rounded {
  border-radius: 9px 9px 0 0;
  object-fit: cover;
}

.publication {
  display: flex;
  flex-direction: column;

}

@media (min-width: map.get($breakpoints, 'tablet')) {
  .publ-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    grid-template-areas:
      'top-left top-right'
      'bottom bottom';
  }
  .bottom {
    grid-area: bottom;
  }
}

@media (min-width: map.get($breakpoints, 'tablethd')) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'top-left top-right bottom';
  }
}

@media (min-width: map.get($breakpoints, 'desktopsd')) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: map.get($breakpoints, 'desktophd')) {
  .publications .publ-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
