@use 'sass:map';
@use './helper';

@include helper.wrapper;
$breakpoints: (
  tablet: 768px,
  tablethd: 1024px,
  desktopsd: 1440px,
  desktophd: 1920px,
);

.slider-content {
  display: grid;
  grid-template-columns: 315px;
  justify-content: center;
}

.text-background {
  background-color: #f5f5fa;
  padding: 30px;
  display: grid;
  gap: 30px;
  border-radius: 0 0 12px 12px;
  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    color: #24a3ff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    display: inline-block;
  }
  svg {
    width: 12px;
    height: 12px;
  }
  a:hover svg path {
    stroke: #f0145a;
  }
  a:hover {
    color: #f0145a;
  }

  .slider-main-text {
    background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    color: transparent;
    background-clip: text;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
  }

  .slider-info {
    display: grid;
    gap: 6px;
    align-content: center;
    .slider-name {
      color: #b3b3ba;
      width: 255px;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }
    .slider-ending {
      line-height: 22px;
      color: #b3b3ba;
    }
  }
}

.slider-circle {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.blue-circle {
  width: 16px;
  height: 16px;
  background-color: #24a3ff;
  border-radius: 50%; /* Заокруглені кути для створення круга */
}
.light-blue-circle {
  width: 16px;
  height: 16px;
  background-color: #24a4ffa4;
  border-radius: 50%; /* Заокруглені кути для створення круга */
}
@media (min-width: map.get($breakpoints, 'tablet')) {
  .slider-content {
    grid-template-columns: 648px;
  }
  .text-background {
    border-radius: 0 0 12px 12px;
    .slider-main-text {
      font-size: 38px;
      line-height: 46px;
    }
    .slider-info {
        .slider-name {
            width: 100%;
        }
    }
  }
}

@media (min-width: map.get($breakpoints, 'tablethd')){
    .slider-content {
        grid-template-columns: 400px 504px;
      } 
      .text-background {
        border-radius: 0 12px 12px 0;
    }
}

@media (min-width: map.get($breakpoints, 'desktopsd')){
    .slider-content {
        grid-template-columns: 400px 920px;
      } 
}
@media (min-width: map.get($breakpoints, 'desktophd')){
    .slider-content {
        grid-template-columns: 400px 1200px;
      } 
}